[Unit]
Description="Process Files to be Compressed"

[Service]
Restart=always
User=root
WorkingDirectory=/etc/systemd/system/sei-file-compressor.d
ExecStart=python3 /etc/systemd/system/sei-file-compressor.d/sei_file_compressor.sh
EnvironmentFile=/etc/systemd/system/sei-file-compressor.d/sei_file_compressor.conf

[Install]
WantedBy=multi-user target
